Periodo.xlsx
.ipynb_checkpoints/Dados_Movidesk-checkpoint.csv
.ipynb_checkpoints/geral_para_hora-checkpoint.ipynb
.ipynb_checkpoints/Dados_Movidesk-checkpoint.py
.ipynb_checkpoints/movidesk_consumo-checkpoint.ipynb
Dados_Movidesk.py
geral_para_hora.ipynb
.ipynb_checkpoints/movidesk_consumo_auditavel-checkpoint.ipynb
